#wrapper{
    min-height: calc(100% - 73px);
    background-color: #F3F2EF;
    position: relative;
    padding: 20px 580px 0px 580px;
    display: flex;
    justify-content: center;
}

@media all and (max-width: 730px){
    #wrapper{
        min-height: calc(100% - 56px);
    }
}