<aside class="profile-sidebar">
    <div class="profile-info">
        <a class="profile-picture" href="">
            <img  src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_3.jpg" alt="">
        </a>
        <img class="cover-picture" src="https://i.pinimg.com/736x/17/08/9f/17089f4c221d8a8d19371546cf706fa0--twitter-cover-cover-pics.jpg" alt="">
        <a class="username" href="#">Stefan Shivarov</a>
        <a href="#">Edit profile <i class="fa-solid fa-pen"></i></a>
    </div>
    <div class="profile-stats">
        <p>Friends: 12</p>
        <p>Posts: 14</p>
    </div>
</aside>